@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FitPortal.Areas.Admin.Models
@model IndexViewModel
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="x_panel">
    <div class="x_title">
    <h2>Trang quản lý: <small>thông tin cơ bản</small></h2>
    <div class="clearfix"></div>
    </div>
    <div class="x_content">
    <br />
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
            <div class="count">@Model.UserCount</div>
            <h3>Người dùng</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
        </div>
        </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-comments-o"></i></div>
                  <div class="count">@Model.PostCount</div>
                  <h3>Bài viết</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                  <div class="count">@Model.TeacherCount</div>
                  <h3>Giảng viên</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-check-square-o"></i></div>
                  <div class="count">@Model.StudentCount</div>
                  <h3>Sinh viên</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
            </div>
    </div>
</div>