@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using FitPortal.Models
@model FitPortal.Models.ExternalLoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For Search Engine Meta Data  -->
    <meta name="description" content="Login Form design by DevForum">
    <meta name="keywords" content="Login Form">
    <meta name="author" content="devforum.info">

    <title>Đăng nhập - Fit-UEF</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="/login/images/android-icon-36x36.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/login/images/android-icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/login/images/android-icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/login/images/android-icon-72x72.png">

    <!-- Main structure css file -->
    <link rel="stylesheet" href="/login/css/login-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

</head>

<body>
    <!-- Start Preloader -->
    <div id="preload-block">
        <div class="square-block"></div>
    </div>
    <!-- Preloader End -->

    <div class="container-fluid">
        <div class="row">
            <div class="authfy-container col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
                <div class="col-sm-5 authfy-panel-left">
                    <div class="brand-col">
                        <div class="headline">
                            <!-- brand-logo start -->
                            <div class="brand-logo">
                                <a href="index.html"><img src="/login/images/devforum.png" width="200" alt="brand-logo"></a>
                            </div>
                            <!-- ./brand-logo -->
                            <p>Xác thực cho lần đầu đăng nhập</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 authfy-panel-right">
                    <!-- authfy-login start -->
                    <div class="authfy-login">
                        <!-- panel-login start -->
                        <div class="authfy-panel panel-login text-center active">
                            <div class="authfy-heading">
                                <h3 class="auth-title">Xác thực cho lần đăng nhập đầu tiên</h3>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <form name="loginForm" class="loginForm" asp-controller="UserAuthentication" asp-action="ExternalLoginConfirmation" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" role="form">
                                        <div class="form-group">
                                            <input type="email" class="form-control email" asp-for="Email" placeholder="Mã số sinh viên hoặc giảng viên">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control email" asp-for="AuthenCode" placeholder="Mã số sinh viên hoặc giảng viên">
                                        </div>
                                        <div class="form-group">
                                            <div class="pwdMask">
                                                <input type="text" class="form-control password" asp-for="FullName" placeholder="Họ và tên">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- ./panel-login -->
                    </div>
                    <!-- ./authfy-login -->
                </div>
            </div>
        </div>
        <!-- ./row -->
    </div>
    <!-- ./container -->

    <!-- Javascript Files -->

    <!-- initialize jQuery Library -->
    <script src="/login/js/jquery-2.2.4.min.js"></script>

    <!-- for Bootstrap js -->
    <script src="/login/js/bootstrap.min.js"></script>

    <!-- Custom js-->
    <script src="/login/js/custom.js"></script>

</body>

</html>

